<h1>Users</h1>
<% @user_decorators.each do |user_decorator| %>
  <div>
    <%= user_decorator.name %> <%= user_decorator.mod_badge %> <%= user_decorator.staff_badge %>
  </div>
<% end %>

<%= will_paginate @users %>
